.modal {
  background-color: $white;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 290px;
  max-height: 90vh;
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 40px 15px;
  border-radius: 16px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s $smooth, height 0.3s $smooth;
  overflow-x: hidden;

  &--is-open {
    opacity: 1;
    pointer-events: auto;
  }
}

.modal::-webkit-scrollbar {
  width: 6px;
}

.modal::-webkit-scrollbar-track {
  background: transparent;
}

.modal::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: 2px solid transparent;
}

.modal::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}


.modal__wrapper {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.modal__form {
  width: 260px;
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  gap: 15px;
}

.modal__close-button {
  position: absolute;
  top: -25px;
  right: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s $smooth;

  &:focus-visible {
    outline: none;
    opacity: 0.3;
  }

  &:disabled {
    cursor: auto;
    pointer-events: none;
  }

  &:disabled::after {
    cursor: auto;
    pointer-events: none;
    background-color: $disabled;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  &::after {
    position: absolute;
    content: "";
    width: 22px;
    height: 22px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $additional;
    mask: url("/__spritemap#sprite-cross-view") center center no-repeat;
  }
}

.modal__title {
  font-size: 18px;
  line-height: 18px;
  color: $additional;
  font-weight: 400;
  text-align: center;
  width: 220px;
  margin: 0;
}

.modal__description {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  width: 220px;
}

.modal__input-wrapper {
  display: flex;
  flex-flow: wrap column-reverse;
  width: 100%;
  min-height: 66px;
  gap: 10px 8px;

  &--check {
    flex-flow: wrap row;
    align-items: center;
    min-height: 28px;
  }

  &:hover .modal__input-title {
    color: $primary;
    opacity: 1;
  }

  &:hover .modal__input:not(.modal__input--check) {
    border-color: $primary;
    opacity: 1;
  }
}

.modal__input-title {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  opacity: 80%;
  transition: opacity 0.3s $smooth;
}

.modal__input-wrapper.select {
  flex-flow: wrap column;
}

.modal__input:focus + .modal__input-title {
  color: $primary;
  opacity: 1;
}

.modal__input:focus:not(.modal__input--check) {
  opacity: 1;
  border: solid 1px #484848;
  outline: none;
}

.modal__input {
  min-height: 44px;
  border: solid 1px rgba(72, 72, 72, 0.19);
  border-radius: 8px;
  padding: 0 20px;
  transition: opacity 0.3s $smooth, border 0.3s $smooth;

  &--error:not(.modal__input--check) {
    border-color: #ff5e66;
    background-color: rgba(255, 94, 102, 0.2);
  }

  &--error:not(.modal__input--check) + .modal__input-title {
    opacity: 1;
  }
}

.modal__button {
  width: 100%;
}

.modal__input-title--check {
  position: relative;
  font-size: 12px;
  width: 80%;
  opacity: 90%;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background-color: $additional;
    border: 1px solid $additional;
    border-radius: 2px;
    top: 50%;
    left: -28px;
    transform: translateY(-50%);
    opacity: 1;
    transition: opacity 0.3s $smooth, background 0.3s $smooth, border 0.3s $smooth;
  }

  &::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background: transparent;
    z-index: 2;
    left: -22px;
    top: 50%;
    transform: translateY(-50%);
    transition: background 0.3s $smooth;
    mask: url("/__spritemap#sprite-check-view") center center no-repeat;
  }

  &:hover::before {
    opacity: 1;
  }
}

.modal__input--check:focus + .modal__input-title--check {
  &::before {
    opacity: 1;
  }
}

.modal__input--check.modal__input--error + .modal__input-title--check {
  &::before {
    border-color: #ff5e66;
    background-color: rgba(255, 94, 102, 0.2);
  }
}

.modal__input--check:checked + .modal__input-title--check {
  &::before {
    background-color: $additional;
    border-color: $additional;
  }

  &::after {
    background: $white;
  }
}

.modal__input--check:checked:hover + .modal__input-title--check {
  &::before {
    background-color: $white;
    border-color: $additional;
  }

  &::after {
    background: $additional;
  }
}

.modal__input--check:disabled + .modal__input-title--check {
  pointer-events: none;
  cursor: auto;

  &::before {
    border-color: $disabled;
    opacity: 0.6;
    background-color: rgba(255, 255, 255, 0.6);
    pointer-events: none;
    cursor: auto;
  }

  &::after {
    background: $white;
  }
}

.modal__input--check {
  width: 20px;
  height: 20px;
  border: solid 1px $additional;
  border-width: 1px;
  opacity: 0;
  border-radius: 2px;
  position: relative;
}

.modal__input:disabled {
  background-color: rgba(169, 175, 183, 0.2);
  border-color: rgba(169, 175, 183, 0.5);
  pointer-events: none;
  cursor: auto;
}

.modal__input-wrapper:hover .modal__input:disabled {
  background-color: rgba(169, 175, 183, 0.2);
  border-color: rgba(169, 175, 183, 0.5);
}

.modal__input:disabled + .modal__input-title {
  color: #a9afb7;
  opacity: 0.6;
}

.modal__select-input:disabled ~ .modal__select {
  background-color: rgba(169, 175, 183, 0.2);
  border-color: rgba(169, 175, 183, 0.5);
}

.modal__select-input:disabled + .modal__input-title {
  color: #a9afb7;
  opacity: 0.6;
}


@media #{$not-mobile} {
  .modal {
    width: 510px;
    padding: 60px 80px;
    max-height: 90vh;
  }

  .modal__title {
    width: 350px;
    margin: 0 0 20px;
    font-size: 28px;
    line-height: 28px;
  }

  .modal__description {
    width: 350px;
    margin: 20px 0 30px;
    font-size: 16px;
    line-height: 20px;
  }

  .modal__form {
    width: 350px;
    gap: 20px;
  }

  .modal__input-wrapper {
    gap: 12px;
  }

  .modal__input-title {
    width: 90%;
    font-size: 14px;
    line-height: 20px;
  }

  .modal__button {
    width: 194px;
    margin: 10px auto 0;
    padding: 4px 5px 4px 30px;
  }

  .modal__input-title--check {
    font-size: 12px;
    line-height: 12px;

    &::before {
      left: -31px;
    }

    &::after {
      left: -25px;
    }
  }

  .modal__close-button {
    top: -40px;
    right: -50px;
  }
}

@media #{$desktop-only} {
  .modal__title {
    font-size: 32px;
    line-height: 36px;
  }

  .modal__description {
    font-size: 16px;
    line-height: 26px;
  }

  .modal__input-title {
    font-size: 14px;
    line-height: 18px;

    &--check {
      font-size: 12px;
      line-height: 12px;
    }
  }
}
