.modal {
  background-color: $white;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 290px;
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 40px 15px;
  border-radius: 16px;
}

.modal__wrapper {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.modal__from {
  width: 260px;
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  gap: 15px;
}

.modal__close-button {
  position: absolute;
  top: 0;
  right: 0;
}

.modal__title {
  font-size: 18px;
  line-height: 18px;
  color: $additional;
  font-weight: 400;
  text-align: center;
  width: 220px;
}

.modal__description {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  width: 220px;
}

.modal__input-wrapper {
  display: flex;
  flex-flow: wrap column;
  width: 100%;
  min-height: 66px;
  gap: 10px 8px;
  &--check {
    flex-flow: wrap row;
    align-items: center;
    min-height: 28px;
  }
}

.modal__input-title {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  opacity: 80%;

  &--check {
    font-size: 12px;
    width: fit-content;
    width: 80%;
    opacity: 90%;
  }
}

.modal__input {
  min-height: 44px;
  border: solid 1px $primary;
  border-radius: 8px;
  opacity: 30%;
}

// .modal__select {
//   min-height: 44px;
//   border: solid 1px $primary;
//   border-radius: 8px;
//   opacity: 30%;
//   appearance: none;
// }

.modal__button {
  width: 100%;
}
