.faq {
  padding: 50px 0;
  min-height: 836px;
}

.faq__title {
  margin: 0;
  position: relative;
  top: 1px;
  left: -1px;
}

.faq__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: wrap;
  gap: 30px;
}

@media #{$not-mobile} {
  .faq {
    min-height: 874px;
  }

  .faq__title {
    top: 0;
    left: 0;
  }

  .faq__wrapper {
    gap: 40px;
  }
}

@media #{$desktop-only} {
  .faq {
    padding: 60px 0;
    min-height: 1066px;
  }

  .faq__wrapper {
    gap: 70px;
  }

  .faq__title {
    margin: 10px 0 0;
    top: 1px;
  }
}
