.news {
  padding: 50px 0;
  min-height: 844px;
  background-color: #f0efe9;
  width: 320px;
  margin: 0 auto;
  overflow: hidden;
}

.news__wrapper {
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
  gap: 20px;

  // width: 320px;
}

.news__title {
  margin: 0 auto 4px;
  position: relative;
  top: 1px;
}

.news__navigation-wrapper {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 4px 0 0;
}

.news__pagination {
  // width: 152px;
  width: fit-content;
  height: 26px;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  gap: 16px;
}

.news__pagination-bullet {
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  position: relative;
  opacity: 0.5;
  transition: background 0.3s $smooth, opacity 0.3s $smooth, border 0.3s $smooth;
  border: solid 2px transparent;
  cursor: pointer;


  &:hover {
    border-color: $additional;
    color: $additional;
    opacity: 1;
  }

  &:hover::after:not(.news__pagination-bullet--active) {
    color: $additional;
  }

  &:active {
    background-color: $active;
    color: $white;
    border-color: $active;
  }

  &:active::after {
    color: $white;
  }

  &--active {
    background-color: $additional;
    opacity: 1;
  }

  // &--active::after {
  //   color: $white;
  // }

  &:focus-visible {
    outline: none;
    border-color: $additional;
    opacity: 1;
  }


  &::after {
    position: absolute;
    content: attr(data-order);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $additional;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    transition: color 0.3s $smooth;
  }


  &--active::after {
    color: $white;
  }
}

@media #{$not-mobile} {
  .news__title {
    margin: 0 auto;
    top: 0;
  }

  .news {
    min-height: 1048px;
    width: 768px;
  }

  .news__wrapper {
    gap: 30px;
  }

  .news__navigation-wrapper {
    margin: 0;
  }

  .news__pagination {
    height: 32px;
    gap: 20px;
  }

  .news__pagination-bullet {
    width: 32px;
    height: 32px;
  }
}

@media #{$desktop-only} {
  .news__title {
    width: 100%;
    text-align: center;
  }

  .news {
    padding: 60px 0;
    min-height: 768px;
    width: 1440px;
  }

  .news__wrapper {
    gap: 40px;
  }
}
