.news-swiper {
  width: 290px;
  height: 590px;
  overflow: hidden;
}

.news-swiper__wrapper {
  display: flex;

  // flex-flow: wrap;
  height: 590px;
}


@media #{$not-mobile} {
  .news-swiper {
    width: 678px;
    height: 730px;
  }

  .news-swiper__wrapper {
    height: 730px;
  }
}

@media #{$desktop-only} {
  .news-swiper {
    width: 1240px;
    height: 400px;
  }

  .news-swiper__wrapper {
    flex-flow: nowrap;
    height: 400px;
  }
}
