.tabs {
  position: relative;
  width: 100%;
  // width: 320px;
  height: 40px;
  // overflow: hidden;
}

.tabs__list {
  list-style-type: none;
  margin: 0;
  padding: 0 15px;
  display: flex;
  flex-flow: nowrap;
  width: 320px;
  // overflow-y: hidden;
  // gap: 12px;
  position: absolute;
  left: -15px;
  min-height: 40px;
}

.tabs__button {
  background: transparent;
  border: solid transparent 2px;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  color: $additional;
  font-weight: 500;
  border-radius: 20px;
  min-height: 36px;
  min-width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  padding: 10px 10px 8px 10px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s $smooth, border 0.3s $smooth, background 0.3s $smooth;

  &--active {
    border: solid 2px $additional;
    opacity: 1;
  }

  &:hover {
    opacity: 1;
  }

  &:focus-visible {
    outline: none;
    opacity: 1;
    background-color: $white;
  }
}

@media #{$not-mobile} {
  .tabs {
    width: 674px;
    margin: 0 auto;
    height: unset;
  }

  .tabs__list {
    position: static;
    overflow-y: visible;
    width: 100%;
    flex-flow: wrap;
    gap: 10px 6px;
    padding: 0;
    justify-content: flex-start;
  }

  .tabs__item:not(:first-child) {
    position: relative;
    left: 3px;
  }

  .tabs__button {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.28px;
    min-height: 46px;
    padding: 10px 20px 11px 20px;
  }
}

@media #{$desktop-only} {
  .tabs {
    width: 740px;
    left: 10px;
  }

  .tabs__list {
    gap: 10px;
  }

  .tabs__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 20px;
    min-width: 120px;
  }
}
