.button {
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $additional;
  border: solid 1px $additional;
  background-color: $white;
  transition: color 0.3s $smooth, background 0.3s $smooth, border 0.3s $smooth;

  &:hover {
    background-color: $additional;
    color: $white;
  }

  &:active {
    color: rgba(255, 255, 255, 0.7);
  }

  &:focus-visible {
    background-color: $white;
    color: $additional;
    outline: none;
  }
}

.button:focus-visible .button__figure {
  background-color: $additional;
}
.button:focus-visible .button__icon {
  background-color: $white;
}

.button:active .button__icon {
  background-color: rgba(49, 109, 194, 0.7);
}

.button:hover .button__figure {
  background-color: $white;
}
.button:hover .button__icon {
  background-color: $additional;
}

.button__figure {
  width: 46px;
  height: 46px;
  background-color: $additional;
  border-radius: 44px;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.3s background $smooth;
}

.button__icon {
  background-color: $white;
  transition: background 0.3s $smooth;
}
