.button {
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $additional;
  border: solid 1px $additional;
  background-color: transparent;
  transition: color 0.3s $smooth, background 0.3s $smooth, border 0.3s $smooth;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: wrap;
  min-height: 44px;
  border-radius: 30px;
  padding: 4px 5px 4px 21px;
  gap: 20px;
  cursor: pointer;

  &:hover {
    background-color: $additional;
    color: $white;
  }

  &:active {
    color: rgba(255, 255, 255, 0.7);
  }

  &:focus-visible {
    background-color: $white;
    color: $additional;
    outline: none;
  }
}

.button:focus-visible .button__figure {
  background-color: $additional;
}
.button:focus-visible .button__figure::after {
  background-color: $white;
  transform: translate(-50%, -50%) rotate(45deg);
}

.button:hover .button__figure {
  background-color: $white;
}

.button:hover .button__figure::after {
  background-color: $additional;
  transform: translate(-50%, -50%) rotate(45deg);
}

.button__figure {
  width: 34px;
  height: 34px;
  background-color: $additional;
  border-radius: 44px;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.3s background $smooth;

  &::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    transition: transform 0.3s $smooth, background 0.3s $smooth;
    mask: url("/__spritemap#sprite-arrow-button-view") center center no-repeat;
  }
}

.button__text {
  max-width: 80%;
}

.button:active .button__figure::after {
  background-color: rgba(49, 109, 194, 0.7);
}

.button:disabled {
  background-color: $white;
  cursor: auto;
  pointer-events: none;
  color: $disabled;
  border-color: $disabled;
}

.button:disabled .button__figure {
  background-color: $disabled;
}

.button--disabled {
  background-color: $white;
  cursor: auto;
  pointer-events: none;
  color: $disabled;
  border-color: $disabled;
}

.button--disabled .button__figure {
  background-color: $disabled;
}

@media #{$not-mobile} {
  .button {
    font-size: 14px;
    line-height: 14px;
  }
}

.button--on-additional {
  border-color: $white;

  &:hover {
    background-color: $white;
    color: $additional;
  }

  &:hover .button__figure {
    background-color: $additional;
  }
  &:hover .button__figure::after {
    background-color: $white;
  }

  &:focus-visible .button__figure::after {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:active {
    color: rgba(49, 109, 194, 0.7);
  }
  &:active .button__figure::after {
    background-color: rgb(255, 255, 255, 0.7);
  }
}

.button--on-additional .button__figure {
  background-color: $white;

  &::after {
    background-color: $additional;
  }
}

.button--disabled.button--on-additional {
  background-color: transparent;
  color: $disabled;
  border-color: $disabled;
}

.button--disabled.button--on-additional .button__figure {
  background-color: $disabled;
}

.button--disabled.button--on-additional .button__figure::after {
  background-color: rgba(255, 255, 255, 0.6);
}

.button:disabled.button--on-additional {
  background-color: transparent;
  color: $disabled;
  border-color: $disabled;
}

.button:disabled.button--on-additional .button__figure {
  background-color: $disabled;
}

.button:disabled.button--on-additional .button__figure::after {
  background-color: rgba(255, 255, 255, 0.6);
}
