.form {
  min-height: 833px;
  padding: 40px 0;
  position: relative;
  overflow: hidden;
}

.form__wrapper {
  width: 100%;
  padding: 43px 0 40px;
  background-image:
    image-set(
      "../../../img/form/form-mobile@1x.webp" 1x,
      "../../../img/form/form-mobile@2x.webp" 2x,
      "../../../img/form/form-mobile@1x.jpg" 1x,
      "../../../img/form/form-mobile@2x.jpg" 2x
    );
  background-repeat: no-repeat;
  background-size: cover;
  overflow: visible;
}

.form__picture-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

.form__picture {
  width: 100%;
}

@media #{$not-mobile} {
  .form {
    min-height: 880px;
    padding: 50px 0;
  }

  .form__wrapper {
    width: 652px;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    padding: 0;
    background-image:
      image-set(
        "../../../img/form/form-tablet@1x.webp" 1x,
        "../../../img/form/form-tablet@2x.webp" 2x,
        "../../../img/form/form-tablet@1x.jpg" 1x,
        "../../../img/form/form-tablet@2x.jpg" 2x
      );
    background-repeat: no-repeat;
    background-size: cover;
  }

  .form__picture {
    width: 652px;
  }

  .form__picture-wrapper {
    width: 652px;
  }
}

@media #{$desktop-only} {
  .form {
    min-height: 920px;
    padding: 60px 0;
  }

  .form__wrapper {
    width: 1240px;
    padding: 0;
    background-image:
      image-set(
        "../../../img/form/form-desktop@1x.webp" 1x,
        "../../../img/form/form-desktop@2x.webp" 2x,
        "../../../img/form/form-desktop@1x.jpg" 1x,
        "../../../img/form/form-desktop@2x.jpg" 2x
      );
    background-repeat: no-repeat;
    background-size: cover;
  }

  .form__picture {
    width: 1240px;
  }

  .form__picture-wrapper {
    width: 1240px;
  }
}
