.hero-header {
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 54px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 290px;
  z-index: 2;
}

.hero-header__logo-wrapper {
  position: relative;
  top: 1px;
  width: 52px;
  height: 52px;
  background-color: $white;
  border-radius: 30px;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}

.hero-header__menu-wrapper {
  position: absolute;
  display: flex;
  flex-flow: wrap;
  width: 290px;
  top: -1px;
  right: 1px;
  margin: 0 0 0 auto;
  gap: 4px;
}

@media #{$not-mobile} {
  .hero-header {
    width: 678px;
    top: 30px;

    // left: 45px;
  }

  .hero-header__menu-wrapper {
    width: 286px;
  }
}

@media #{$desktop-only} {
  .hero-header {
    width: 1240px;
    top: 31px;

    // left: 100px;
  }
}
