// .hero-swiper {
//   height: 568px;
//   width: 320px;
//   overflow: hidden;
// }

.hero-swiper {
  height: 568px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

// .hero-swiper__swiper-wrapper {
//   display: flex;
//   align-items: flex-start;
//   flex-flow: nowrap;
// }

.hero-swiper__swiper-wrapper {
  display: flex;
  align-items: flex-start;
  flex-flow: nowrap;
  width: 100%;
}

.hero-swiper__slide {
  position: relative;
  width: 100%;
  min-height: 568px;
  display: flex;
  align-items: flex-end;
  flex-flow: wrap;
  padding: 20px 15px;
  flex-shrink: 0;
  pointer-events: none;
}

.hero-swiper__swiper-wrapper .swiper-slide-active {
  pointer-events: auto;
}

.hero-swiper__pagination {
  min-width: 80px;
  min-height: 29px;
  position: absolute;
  bottom: 339px;
  left: 15px;
  background-color: $white;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;

  // gap: 4px;
  transition: opacity 0.2s ease-in-out;
  opacity: 1;

  &--fade-out {
    opacity: 0;
  }


  &::after {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    bottom: 0;
    right: -12px;
    background-color: $white;
    mask: url("/__spritemap#sprite-corner-mobile-top-view") center center no-repeat;
  }
}

.hero-swiper__pagination-bullet {
  width: 20px;
  height: 18px;
  position: relative;
  top: -1px;
  transition: opacity 0.3s $smooth;
  cursor: pointer;

  &:hover {
    opacity: 70%;
  }

  &:hover::before {
    background-color: $white;
  }

  &:hover::after {
    opacity: 1;
    background-color: $additional;
  }

  &:focus-visible::before {
    background-color: $additional;
  }

  &:focus-visible::after {
    background-color: $additional;
  }

  &:focus-visible {
    outline: none;
  }

  &:active::before {
    background-color: $active;
  }

  &:active::after {
    background-color: $active;
  }

  &::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    background-color: $additional;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s $smooth, background-color 0.3s $smooth;
  }

  &::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    background-color: $white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s $smooth, background-color 0.3s $smooth;
  }

  &--active::after {
    opacity: 0;
  }

  &--active::before {
    background-color: $active;
  }
}

.hero-swiper__picture-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(49, 109, 194, 0.2);
    z-index: 1;
    pointer-events: none;
  }
}

.hero-swiper__picture {
  width: 100%;
}


.hero-swiper__content-wrapper {
  display: flex;
  flex-flow: wrap;
  align-items: flex-end;
  z-index: 1;
  margin: 0 auto;
  width: 290px;
  min-height: 319px;
  max-height: 420px;
  overflow-y: auto;
}

.hero-swiper__content-wrapper::-webkit-scrollbar {
  width: 6px;
}

.hero-swiper__content-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.hero-swiper__content-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: 2px solid transparent;
}

.hero-swiper__content-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}


.hero-swiper__title {
  margin: 0;
  display: inline-flex;
  align-items: center;
  padding: 21px 25px 16px 14px;
  width: 290px;
  min-height: 140px;
  background-color: $white;
  color: $additional;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  top: -1px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;

  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 267px;
    height: 100px;
    background-color: $white;
    left: 0;
    bottom: -55px;
    z-index: -1;
  }

  &::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    bottom: -9px;
    right: 15px;
    background-color: $white;
    mask: url("/__spritemap#sprite-corner-mobile-bottom-small-view") center center no-repeat;
  }
}

.hero-swiper__cms-wrapper {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 184px;
    height: 100px;
    background-color: $white;
    left: 0;
    bottom: -15px;
    z-index: -1;
  }

  &::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    bottom: -9px;
    right: 74px;
    background-color: $white;
    mask: url("/__spritemap#sprite-corner-mobile-bottom-view") center center no-repeat;
  }

  p {
    margin: 0;
    width: 267px;
    min-height: 114px;
    border-bottom-right-radius: 14px;
    background-color: $white;
    color: #484848;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    padding: 0 19px 15px 14px;
  }
}

.hero-swiper__button {
  margin: 10px 0 9px 14px;
  position: relative;
  width: 154px;

  &::before {
    position: absolute;
    content: "";
    width: 184px;
    height: calc(100% + 20px);
    left: -15px;
    top: -10px;
    background-color: $white;
    z-index: -1;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
  }
}

.hero-swiper__button .button__text {
  max-width: 50%;
  letter-spacing: 0.28px;
}

@media #{$not-mobile} {
  // .hero-swiper {
  //   width: 768px;
  //   height: 1024px;
  // }

  .hero-swiper {
    width: 100%;
    min-height: 1024px;
  }


  // .hero-swiper__picture-wrapper {
  //   width: 768px;
  // }

  // .hero-swiper__picture {
  //   width: 768px;
  // }


  .hero-swiper__picture-wrapper {
    width: 100%;
  }

  .hero-swiper__picture {
    width: 100%;
  }


  .hero-swiper__slide {
    min-height: 1024px;
    padding: 90px 64px 60px 45px;
  }


  // .hero-swiper__slide {
  //   height: 100%;
  //   padding: 90px 64px 60px 45px;
  // }

  .hero-swiper__content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 700px;
    min-height: 275px;
    width: 678px;
  }

  .hero-swiper__title {
    grid-column: span 2;
    width: 659px;
    min-height: 142px;
    font-size: 36px;
    line-height: 44px;
    padding: 30px 69px 24px 40px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

    &::after {
      bottom: -25px;
      right: 40px;
      width: 26px;
      height: 26px;
      mask: url("/__spritemap#sprite-corner-bottom-view") center center no-repeat;
    }
  }

  .hero-swiper__cms-wrapper {
    min-height: 135px;
    height: min-content;
    width: 325px;
    background-color: $white;
    border-bottom-left-radius: 30px;

    p {
      font-size: 16px;
      height: min-content;
      line-height: 20px;
      padding: 0 0 35px 40px;
      width: 285px;
      border-bottom-left-radius: 30px;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        width: 594px;
        height: 120%;
        background-color: $white;
        z-index: -1;
        bottom: 0;
        left: 0;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
      }
    }

    &::before {
      border-bottom-right-radius: 30px;
      width: 594px;
      height: 145px;
      bottom: 0;
      border-bottom-left-radius: 30px;
    }

    &::after {
      display: none;
    }
  }

  .hero-swiper__button {
    justify-self: flex-end;
    align-self: flex-start;
    margin: 0 106px 0 0;
    min-height: 56px;
    width: 198px;
    padding-left: 31px;
  }

  .hero-swiper__button .button__figure {
    width: 46px;
    height: 46px;
  }

  .hero-swiper__pagination {
    left: 45px;
    bottom: 330px;
    min-height: 40px;
    min-width: 100px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    &::after {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      bottom: 0;
      right: -19px;
      background-color: $white;
      mask: url("/__spritemap#sprite-corner-top-view") center center no-repeat;
    }
  }

  .hero-swiper__pagination-bullet {
    width: 25px;
    height: 25px;

    &::after {
      width: 8px;
      height: 8px;
    }

    &::before {
      width: 12px;
      height: 12px;
    }
  }
}

@media #{$desktop-only} {
  // .hero-swiper {
  //   width: 1440px;
  //   height: 800px;
  // }

  .hero-swiper {
    width: 100%;
    min-height: 800px;
  }

  .hero-swiper__picture-wrapper {
    width: 100%;
  }

  .hero-swiper__picture {
    width: 100%;
  }

  .hero-swiper__slide {
    min-height: 800px;
    padding: 100px 100px 60px;
  }


  .hero-swiper__content-wrapper {
    width: 1240px;
    grid-template-columns: 1fr 1fr 1fr;
    max-height: 500px;
  }

  .hero-swiper__title {
    font-size: 54px;
    line-height: 62px;
    width: 968px;
    padding: 40px 50px 30px;
    grid-column: span 3;

    &::after {
      right: 168px;
    }
  }

  .hero-swiper__cms-wrapper {
    min-height: 113px;
    grid-column: span 1;

    &::before {
      width: 775px;
    }

    p {
      width: 446px;
      font-size: 16px;
      line-height: 26px;
      padding: 0 0 35px 50px;
      min-height: 78px;

      &::before {
        width: 775px;
        bottom: 0;
      }
    }
  }

  .hero-swiper__button {
    margin: 10px 102px 0 0;
    grid-column: span 1;
    padding: 3px 5px 3px 31px;
    min-height: 58px;
  }

  .hero-swiper__pagination {
    left: 100px;
  }
}
