.nav-button {
  min-height: 54px;
  min-width: 136px;
  border-radius: 30px;
  background-color: $white;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 4px 5px 4px 21px;
  margin: 0 0 0 auto;
  flex-grow: 0;
  transition: flex-grow 0.3s $fast;
  transform: translateZ(0);
  will-change: transform;
  transform-origin: right center;
  &--opened {
    // width: 100%;
    flex-grow: 2;
  }
}

.nav-button__figure {
  width: 46px;
  height: 46px;
  background-color: $additional;
  border-radius: 44px;
}
