.about {
  padding: 50px 0;
}

.about__title {
  margin: 0 0 15px;
  position: relative;
  left: 1px;
  top: 1px;
}

.about__subtitle-wrapper {
  p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    margin: 0 0 40px;
  }
}

.about__content-wrapper {
  h3 {
    font-size: 18px;
    line-height: 22px;
    color: $additional;
    margin: 40px 0 20px;
    font-weight: 400;
  }

  p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin: 0 0 30px;
  }
}

.about__button {
  margin: 30px 0 40px;
  min-width: 223px;
  min-height: 44px;
}

.about__button .button__text {
  max-width: 73%;
}

@media #{$not-mobile} {
  .about__title {
    margin: 0 0 30px;
    left: 0;
    top: 0;
  }

  .about__subtitle-wrapper {
    p {
      font-size: 20px;
      line-height: 26px;
    }
  }

  .about__content-wrapper {
    h3 {
      font-size: 28px;
      line-height: 28px;
      margin: 40px 0 30px;
    }

    p {
      font-size: 16px;
      line-height: 20px;
      margin: 0 0 40px;
      padding: 0 150px 0 0;
    }
  }

  .about__button {
    margin: 40px 0 60px;
    min-width: 279px;
    min-height: 56px;
    padding: 3px 3px 3px 31px;
  }
}

@media #{$desktop-only} {
  .about {
    padding: 70px 0;
  }

  .about__wrapper {
    display: flex;
    flex-flow: wrap;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 10px 40px;
  }

  .about__subtitle-wrapper {
    width: 702px;

    p {
      font-size: 22px;
      line-height: 32px;
    }
  }

  .about__content-wrapper {
    width: 498px;

    h3 {
      font-size: 32px;
      margin: 0 0 40px;
      line-height: 36px;
    }

    p {
      font-size: 16px;
      line-height: 26px;
      padding: 0;
    }
  }

  .about__title {
    max-width: 600px;
  }

  .about__button {
    margin: 0 219px 50px 0;
    min-width: 279px;
    max-width: 279px;
  }

  .about__button .button__text {
    max-width: 70%;
  }
}
