.programs {
  min-height: 634px;
  overflow-x: clip;
  padding: 50px 0;
  position: relative;
}

.programs__wrapper {
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
  gap: 30px;
}

.programs__title {
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: $additional;
  display: flex;
  align-items: center;
  flex-flow: wrap;
  min-height: 30px;
}

.programs__nav-buttons-wrapper {
  min-width: 52px;
  min-height: 22px;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  gap: 8px;
}

@media #{$not-mobile} {
  .programs {
    min-height: 678px;
  }

  .programs__wrapper {
    justify-content: space-between;
    gap: 40px;
  }

  .programs__nav-buttons-wrapper {
    position: static;
  }

  .programs__title {
    order: -2;
    min-height: 56px;
    font-size: 34px;
    line-height: 50px;
  }

  .programs__button {
    order: -1;
    min-height: 56px;
  }

  .programs__navigation {
    display: flex;
    align-items: center;
    flex-flow: wrap;
    justify-content: space-between;
    width: 100%;
    min-height: 22px;
  }

  .programs__scrollbar {
    width: 562px;
    height: 2px;
    background-color: rgb(49, 109, 194, 0.2);
    pointer-events: auto;
    cursor: pointer;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: -10px;
      bottom: -10px;
      left: 0;
      right: 0;
      background: transparent;
      pointer-events: auto;
    }
  }

  .programs__scrollbar .swiper-scrollbar-drag {
    background-color: $additional;
    height: 2px;
    z-index: 1;
  }
}

@media #{$desktop-only} {
  .programs {
    min-height: 702px;
    padding: 60px 0;
  }

  .programs__scrollbar {
    width: 1136px;
  }
}
